<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WKSAEntities" connectionString="metadata=res://*/WKSAEntities.csdl|res://*/WKSAEntities.ssdl|res://*/WKSAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST\SQL2012;initial catalog=WKSA;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>